* {
    font-family: "Raleway", sans-serif;
}
body {
    padding: 0 50px;
    max-width: 1400px;
    margin: auto;
}
@media (max-width: 768px) {
    body {
        padding: 0 8px;
    }
}
nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
nav img {
    width: 100px;
    padding-left: 36px;
}
.nav-links ul {
    padding: 0;
    margin: 0;
}
.nav-links li {
    font-weight: 200;
    list-style: none;
    padding: 50px 0px;
    margin: 0 40px;
    display: inline-block;
    border-top: 3px solid transparent;
}
.nav-links li:last-child {
    margin: 0px;
    margin-right: 60px;
}
.nav-links li:hover {
    border-top: #0065fc solid 3px;
}
.nav-links a {
    color: #666666;
    text-decoration: none;
}
.nav-links a:hover {
    color: #0065fc;
}
  

  /* NAV MOBILE */
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        padding-left: 0%;
        padding-right: 0%;
    }
}
@media (max-width: 768px) {
    nav img {
        padding: 26px 0px 26px 0px;
        width: 180px;
        display: flex;
        flex-direction: row;
    }
}
@media (max-width: 768px) {
    .nav-links {
        margin: 0%;
    }
}
@media (max-width: 768px) {
    .nav-links ul {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}
@media (max-width: 768px){
    .nav-links li {
        flex-basis: 50%;
        margin: auto;
        padding: 20px 24px;
        border-bottom: 3px solid #F2F2F2;
    };
}
@media (max-width: 768px) {
    .nav-links li:last-child {
        flex-basis: 50%;
        margin: auto;
        padding: 20px 24px;
        border-bottom: 3px solid #F2F2F2;
    }
}
@media (max-width: 768px){
    .nav-links li:hover {
        border-top: transparent;
        margin: 0;
        border-bottom: solid #0065fc;
    };
}
@media (max-width: 768px) {
    .nav-links li:last-child:hover {
        border-top: transparent;
        margin: 0;
        border-bottom: solid #0065fc;
    }
}
@media (max-width: 768px) {
    .nav-links a {
        display: block;
        font-size: 25px;
        margin: auto;
        width: 100%;
        max-width: fit-content;

    }
}


  /* SEARCH BLOCK */

  
.head {
    padding: 0% 4% 0%;
    font-weight: 200;
    margin-bottom: 8px;
}
.titleh2 {
    margin-bottom: 8px;
    font-weight: 600;
}
.search-block {
    padding: 0% 4%;
}
.search-box {
    display: inline-flex;
    align-items: center;
    padding: 0px;
    height: 40px;
    border: #F2F2F2 solid;
    border-radius: 12px;
}
.search-logo {
    display: inline-flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    
    background-color: #F2F2F2;
}
.search-input {
    height: max-content;
    width: 194px;
    padding-left: 10px;
    border: transparent;
}
textarea:focus, input:focus {
    outline: none;
}
.search-box button {
    background-color: #0065FC;
    height: 46px;
    width: 78px;
    padding: 0;
    color: white;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}