* {
    font-family: "Raleway", sans-serif;
}
* a {
    text-decoration: none;
    color: black;
}
body {
    padding: 0 100px;
    max-width: 1400px;
    margin: auto;
}
@media (max-width: 768px) {
    body {
        padding: 0 18px;
    }
}
nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
nav img {
    width: 100px;
    padding-left: 4%;
}
.nav-links ul {
    padding: 0;
    margin: 0;
}
.nav-links li {
    font-weight: 200;
    list-style: none;
    padding: 50px 0px;
    margin: 0 40px;
    display: inline-block;
    border-top: 3px solid transparent;
}
.nav-links li:last-child {
    margin: 0px;
    margin-right: 0px;
}
.nav-links li:hover {
    border-top: #0065fc solid 3px;
}
.nav-links a {
    color: #666666;
    text-decoration: none;
}
.nav-links a:hover {
    color: #0065fc;
}
  

  /* NAV MOBILE */
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        padding-left: 0%;
        padding-right: 0%;
    }
}
@media (max-width: 768px) {
    nav img {
        padding: 26px 0px 12px 0px;
        width: 180px;
        display: flex;
        flex-direction: row;
    }
}
@media (max-width: 768px) {
    .nav-links {
        margin: 0%;
    }
}
@media (max-width: 768px) {
    .nav-links ul {
        display: flex;
        flex-direction: row;
        width: 100vw;
    }
}
@media (max-width: 768px){
    .nav-links li {
        flex-basis: 50%;
        margin: auto;
        padding: 12px 26px;
        border-bottom: 3px solid #F2F2F2;
    };
}
@media (max-width: 768px) {
    .nav-links li:last-child {
        flex-basis: 50%;
        margin: auto;
        padding: 12px 26px;
        border-bottom: 3px solid #F2F2F2;
    }
}
@media (max-width: 768px){
    .nav-links li:hover {
        border-top: transparent;
        margin: 0;
        border-bottom: solid #0065fc;
    };
}
@media (max-width: 768px) {
    .nav-links li:last-child:hover {
        border-top: transparent;
        margin: 0;
        border-bottom: solid #0065fc;
    }
}
@media (max-width: 768px) {
    .nav-links a {
        display: block;
        font-size: 22px;
        margin: auto;
        width: 100%;
        max-width: fit-content;

    }
}
@media (max-width: 768px) {
    .titleh3 {
        padding: 30px 0 8px;
        font-size: x-large;
    }
}@media (max-width: 768px) {
    .head p {
        padding: 0 0 16px;
    }
}


  /* SEARCH BLOCK */

  
.head {
    padding: 0%;
    font-weight: 200;
    margin: 0px;
}
.titleh3 {
    font-weight: 600;
    margin: 0;
    
}
.head p {
    margin: 6px 0 016px;
}
.search-block {
    padding: 0%;
}
.search-box {
    display: inline-flex;
    align-items: center;
    height: 40px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
    overflow: hidden;
}
.positionLogo {
    display: inline-flex;
    height: 40px;
    width: 40px;
    border-radius: 12px 0 0 12px;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
}
.search-input {
    height: max-content;
    width: 194px;
    font-weight: 600;
    padding-left: 12px;
    border: transparent;
}
textarea:focus, input:focus {
    outline: none;
}
.search-box button {
    background-color: #0065FC;
    height: 46px;
    width: 78px;
    padding: 0;
    color: white;
    border: none;
    border-radius: 0 12px 12px 0;
}
.search-box button svg {
    display: none;
}

  /* SEARCH MOBILE */
@media (max-width: 768px){
    .search-box {
        display: inline-flex;
        height: 60px;
        border-radius: 20px;
        width: 100%;
        overflow: hidden;
        border: solid 2px #f2f2f2;
    }
}
 @media (max-width: 768px) {
    .positionLogo {
        height: 60px;
        width: 60px;
        border-radius: 20px 0 0 20px;
    }
}
 @media (max-width: 768px) {
    .positionLogo svg {
        height: 24px;
        width: 24px;
    }
}
@media (max-width: 768px) {
    .search-input {
        padding-left: 18px;
        height: 60px;
        font-size: x-large;
        flex-grow: 1;
    }
}
@media (max-width: 768px) {
    .search-box button {
        height: 60px;
        width: 60px;
        border-radius: 20px;
    }
}
@media (max-width: 768px) {
    .search-box span {
        display: none;
    }
}
@media (max-width: 768px) {
    .search-box button svg {
        display: inline-flex;
        margin: 18px 0;
    }
}


  /* FILTERS */

 
.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: center;
    padding: 20px 0px;
}
.filtersTitle {
    font-size: 14px;
}
.filtersList {
    display: flex;
    margin: 0px ;
    list-style: none;
}
.filtersList li {
    margin-right: 14px;
}
.filterListPanelButton {
    display: flex;
    align-items: center;
}
.filterListIcons {
    position: absolute;
    border-radius: 20px;
    text-align: center;
    height: 42px;
    width: 42px;
    background-color: #DEEBFF;
}
.filterListButtonText {
    padding: 10px 12px 10px 50px;
    border: solid 2px #f2f2f2;
    border-radius: 30px;
    font-size: 15px;
    margin: 0;
    font-weight: 600;
    text-decoration: none;
}